@import "_variables"

body
    background-color: #000
    color: #eed
    font-family: sans-serif
    line-height: 1.3em

.wf-dosis-n3-active body
    font-family: $primary-font
    font-weight: 300
    letter-spacing: 0.04em

.full-frame
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: 0

.display-block
    display: block

.display-none
    display: none

.component-label
    position: absolute
    bottom: 0
    right: 0
    background-color: #dddddd
    color: #000
    font-weight: bold
    padding: 2px 10px
    border-radius: 3px 0 0 0
    opacity: 0.4

.site-title
    text-transform: uppercase
    height: $top-bar-height
    font-weight: bold
    letter-spacing: 0.12em
    position: absolute
    top: 10px
    right: 1rem
    z-index: 1;

.wf-passionone-n4-active .site-title
    font-family: $secondary-font
    font-size: 1.3em
    font-weight: 400
    letter-spacing: 0
