<div class="full-frame login-frame">
    <div class="panel login-panel">
        <form>
            <div class="panel-title">Login</div>
            <div class="panel-content form">
                <div class="form-item">
                    <label>Email</label>
                    <input type="email" name="email">
                </div>

                <div class="form-item">
                    <label>Password</label>
                    <input type="password" name="password">
                </div>
            </div>
            <div class="panel-footer">
                <button class="button primary">Login</button>
            </div>
        </form>
    </div>
</div>
