/* temporary styles until API is connected. */
app-photo:host
    background-color: #111
    overflow: hidden
.photo
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: absolute
    opacity: 0
    transition: all 0.75s ease-in

.photo.visible
    opacity: 1.0

