<nav class="gallery-menu">
    <ul>
        <li>
            Outdoors
            <ul>
                <li>
                    United States
                    <ul>
                        <li class="active">Arizona</li>
                        <li>California</li>
                        <li>Colorado</li>
                        <li>Minnesota</li>
                        <li>Utah</li>
                    </ul>
                </li>
                <li>
                    England
                    <ul>
                        <li>London</li>
                        <li>Birmingham</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            Swimming
        </li>
    </ul>
</nav>
