@import "../../sass/_variables"

app-menu:host
    position: absolute
    top: $top-bar-height + 0.08rem
    bottom: 2px
    left: -256px
    width: 250px
    background-color: rgba(0, 0, 0, .6)
    transition: left 0.75s ease-out

app-menu:host.open
    left: 0

.gallery-menu
	margin: 0

