/* temporary styles until API is connected. */
app-viewport:host
    background-color: #111
    background-image: url('/static/DSC20160903-003-Pano_hifi_l.jpg')
    background-size: cover
    background-position: center

