/* temporary styles until API is connected. */
app-viewport:host
    background-color: #111
    background-image: url('/static/DSC20160903-003-Pano_hifi_l.jpg')
    background-size: cover
    background-position: center

app-topbar
    position: absolute
    top: 0
    height: 3em
    width: 100%
    background-color: rgba(0, 0, 0, .6)

app-menu
    position: absolute
    top: 3.05em
    bottom: 0
    width: 200px
    background-color: rgba(0, 0, 0, .6)
    border-radius: 0 3px 0

