.thumb-wrapper
    position: relative

img
    display: inline-block
    margin-right: 1em

.title
    position: absolute
    bottom: 0
    left: 0
    right: 1rem
    background-color: rgba(15, 15, 15, .8)
    text-align: center
    line-height: 2.5rem
    border-top: 1px solid #ababa4
