@import "../../sass/_variables"

app-topbar:host
    position: absolute
    top: 0
    height: $top-bar-height
    width: 100%
    background-color: rgba(0, 0, 0, .6)
    border-bottom: 1px solid #202020

.site-title
    text-transform: uppercase
    height: $top-bar-height
    font-weight: bold
    letter-spacing: 0.12em
    position: absolute
    top: 10px
    right: 1rem

\:host-context(.wf-passionone-n4-active) .site-title
    font-family: $secondary-font
    font-size: 1.3em
    font-weight: 400
    letter-spacing: 0

.page-title
    font-size: 1.5em

.photo-description
    position: absolute
    bottom: 4px
    left: 7rem
    font-size: .85em

.breadcrumbs
    position: absolute
    bottom: 4px
    right: 1rem
    font-size: .85em

.info
    margin: .25rem 0 0 4.5rem
    overflow: hidden
    height: 1.6em

.info > div
    float: left

.info img
    display: block

.prev-icon
    margin: -1px 1rem 0 0

.next-icon
    margin: -1px 0 0 1rem

.prev-icon.hidden,
.next-icon.hidden
    visibility: hidden

.zoom-icon
    margin-left: 2rem
