<div class="info">
    <div class="prev-icon" [ngClass]="{'hidden': !previous_link}">
        <a [routerLink]="previous_link">
            <img src="/static/chevron_left_1x.png">
        </a>
    </div>
    <div class="page-title">{{page_title}}</div>
    <div class="next-icon" [ngClass]="{'hidden': !next_link}">
        <a [routerLink]="next_link">
            <img src="/static/chevron_right_1x.png">
        </a>
    </div>
    <div class="zoom-icon" (click)="toggleZoom()"><img [src]="zoom_icons[zoom_state]"></div>
</div>
<div class="photo-description">{{description}}</div>
<div class="breadcrumbs">Outdoors > USA > Washington</div>
<app-menu-icon></app-menu-icon>
