.site-title
    float: right
    text-transform: uppercase
    height: 3rem
    line-height: 3rem
    margin-right: 1em
    font-weight: bold
    letter-spacing: 0.12em

\:host-context(.wf-passionone-n4-active) .site-title
    font-family: 'passion-one', sans-serif
    font-size: 1.3em
    font-weight: 400
    letter-spacing: 0
